---
layout: default
title: "Início"
---
<div class="row">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" href="#">INÍCIO</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ "/posts.html" | relative_url }}">POSTAGENS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ "/projects.html" | relative_url }}">PROJETOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ "/contact.html" | relative_url }}">CONTATO</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="row" id="rowContent">
	<div class="col-xs-12 col-sm-12">
		<div class="row">
			<center><h2 id="titleContent">Postagens recentes...</h2></center>
		</div>
		<div class="row justify-content-around">
			{% for post in site.posts %}
			{% assign result = forloop.index | divided_by: 4 %}
			{% assign resulta = result | times: 4 %}
			{% if resulta == forloop.index %}</div><div class="row justify-content-around">{% endif %}
			<div class="col-xs-12 col-sm-3 my-3">
				<div class="card h-100 w-100">
					<img src="{{ post.card }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ post.title }}</h5>
						<p class="card-text">{{ post.excerpts }}</p>
						<a href="{{ post.url }}" class="btn text-muted stretched-link"></a>
					</div>
					<div class="card-footer" style="background-color: #1C1C1C;">
						<small class="text-muted">Postado em {{ post.data }}.</small>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
